body {
  margin: 0;
  font-family: 'Exo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

.start, button {
    cursor: pointer; 
}
 
.title {
    font-weight: 900;
    font-style: italic;
}

.bang {
    background-color: rgba(223, 5, 247, 0.3);;
}